<!-- [p-actions]="actions" [p-breadcrumb]="breadcrumb" -->
<po-page-default p-title="Pokimane Inspector" *ngIf="combined_stream$ | async as pokemons">
    <div class="po-row">
        <!-- fix grid -->
        <div class="po-row grid-wrapper">
            <po-widget class="total" p-title="Loaded Pokimanes Total">{{pokemons.length}}</po-widget>
        </div>
        <div #typeGrid class="po-row grid-wrapper">
            <po-widget (click)="selectType(type.key)" [class]="{active:type.key == (selectedType$ | async)}"
                *ngFor="let type of pokeTypes | keyvalue : compareEntries" class="po-m-1 po-mb-2"
                p-title="{{type.key | titlecase}}">
                {{type.value.length}} ({{type.value.length / pokemons.length | percent}})
            </po-widget>
        </div>

    </div>
    <div class="po-row">
        <div class="po-accordion-wrapper">
            <po-accordion>
                <po-accordion-item #allPokimane p-label="All Pokimanes" class="acc-item_wrapper">
                    <po-kegrid>
                        <po-kimane *ngFor="let pokimane of pokemons" [pokimane]="pokimane">
                        </po-kimane>
                    </po-kegrid>
                </po-accordion-item>
            </po-accordion>
        </div>
    </div>

</po-page-default>