<!-- [p-actions]="actions" [p-breadcrumb]="breadcrumb" -->
<po-page-default p-title="Pokimane Inspector">
    <div class="po-row">
        <po-widget class="po-m-2 po-ml-0" p-title="Pokimanes Total">666</po-widget>
        <po-widget class="po-m-2" p-title="Water Pokimanes">666</po-widget>
        <po-widget class="po-m-2" p-title="Fire Pokimanes">666</po-widget>
        <po-widget class="po-m-2" p-title="Leaf Pokimanes">666</po-widget>
    </div>
    <div class="po-row">
        <div class="po-accordion-wrapper">
            <po-accordion>
                <po-accordion-item #allPokimane p-label="All Pokimanes" class="acc-item_wrapper">
                    <po-kegrid #pokegrid>
                    </po-kegrid>
                    <div class="see-more">
                        <!-- -------------------- This could be somewhere else --------------------- -->
                        <!-- ------------------------- is specific to grid ------------------------- -->
                        <po-button *ngIf="pokegrid.next_page" (p-click)="pokegrid.getNextPage()"
                            p-label="{{'Ver mais pokimanes' | uppercase }}">
                        </po-button>
                    </div>
                </po-accordion-item>
            </po-accordion>
        </div>
    </div>

</po-page-default>