/* You can add global styles to this file, and also import other style files */
:root {

  --color-primary: red;
  --color-secondary: rgb(255, 115, 115);
  --color-tertiary: rgb(54, 114, 243);

  /* -------------------------- page background color ------------------------- */
  --color-page-background-color-page: #f5f5f5;


}
